# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3

# If using SQLite3
*.sqlite3

# Local environment settings
venv/

# pytest
.cache/

# PyCharm
.idea/

# VS Code
.vscode/

# PyLinter
.pylintrc
